<div>
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8 w-100"
    (matSortChange)="sortData($event)"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
          <div class="image-container" fxLayout="row">
            <img
              src="../assets/images/song/{{
                element.imageName != null ? element.imageName : 'songBg'
              }}.jpg"
              width="50px"
              height="50px"
              alt=""
            />
            <button mat-mini-fab class="middle" (click)="playSong(element)">
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
          <button mat-mini-fab class="middle" (click)="playSong(element)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header="songName" *matHeaderCellDef>
        Bài hát
      </th>
      <td mat-cell *matCellDef="let element">{{ element.songName }}</td>
    </ng-container>

    <!-- Album Column -->
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element">{{ element.songName }}</td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Thời gian</th>
      <td mat-cell *matCellDef="let element">
        {{ timeFormat(element.duration) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
