<div style="padding: 30px">
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8 w-100"
    (matSortChange)="sortData($event)"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
          <div class="image-container" fxLayout="row">
            <img
              src="../assets/images/song/{{
                element.imageName != null ? element.imageName : 'songBg'
              }}.jpg"
              width="50px"
              height="50px"
              alt=""
            />
            <button
              mat-mini-fab
              class="middle"
              (click)="playPlaylist(i, element)"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header="songName" *matHeaderCellDef>
        Bài hát
      </th>
      <td mat-cell *matCellDef="let element">{{ element.songName }}</td>
    </ng-container>

    <!-- Album Column -->
    <ng-container matColumnDef="singer">
      <th mat-header-cell *matHeaderCellDef>Nghệ sỹ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.singer?.singerName }}
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Thời gian</th>
      <td mat-cell *matCellDef="let element">
        {{ element.duration | timeFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="text-white" [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [matMenuTriggerFor]="playlist"
            *ngIf="playlistData"
          >
            <mat-icon>add_circle_outline</mat-icon>
            <span>Add to playlist</span>
          </button>
          <button mat-menu-item (click)="openCommentDialog(element.id)">
            <mat-icon>comment</mat-icon>
            <span>Comment</span>
          </button>
          <button mat-menu-item (click)="removeFromFavorite(element.id)">
            <mat-icon>remove</mat-icon>
            <span>Remove from favorite</span>
          </button>
        </mat-menu>

        <mat-menu #playlist="matMenu">
          <button
            mat-menu-item
            *ngFor="let playlist of playlistData"
            (click)="addToPlaylist(playlist.id, element.id)"
          >
            {{ playlist.playlistName }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
