<div class="header-border" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row">
    <a class="p-6 text-white" href="">NEW RELEASES</a>
    <a class="p-6 text-white" href="">SHUFFLE PLAY</a>
    <a class="p-6 text-white" href="">LIVE PODCASTS</a>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
    style="width: 200px"
  >
    <button mat-mini-fab class="text-white notification">
      <mat-icon>notifications</mat-icon>
    </button>
    <img
      src="../../../../../assets/images/artists/stephen-sanchez.jpg"
      width="60px"
      height="55px"
      alt=""
      class="avatar-img"
    />
    <div fxLayout="column" fxLayoutGap="0">
      <h5>aaaa</h5>
      <h6>vvvv</h6>
    </div>
  </div>
</div>
