.p-6:hover {
    background-color: rgba(255, 255, 255, .04);
}

.p-6 {
    padding: 2.5rem 2rem 1.5rem 2rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.notification {
    background: none;
    margin-right: 20px;
    border: 1px solid darkolivegreen;
}

.header-border {
    border-bottom: 3px solid rgb(29, 36, 44);
}

.avatar-img {
    width: 46px;
    height: 44px;
    border-radius: 50%;
    outline: 3px solid rgb(98 153 233);
    outline-offset: -1px;
}

.account:hover{
    opacity: 0.8;
    cursor: pointer;
}
