<div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="p-4"
    fxLayoutGap="10px"
  >
    <mat-icon color="warn">favorite</mat-icon>
    <h3>Favorite</h3>
    <mat-icon color="warn">favorite</mat-icon>
  </div>

  <mat-tab-group>
    <mat-tab label="Music"> <app-music-favorite></app-music-favorite> </mat-tab>
    <mat-tab label="Podcast">
      <app-music-favorite></app-music-favorite>
    </mat-tab>
    <mat-tab label="Third"> <app-music-favorite></app-music-favorite> </mat-tab>
  </mat-tab-group>
</div>
