<div fxLayout="column" fxLayoutAlign="center none">
  <div fxLayout="row" fxLayoutAlign="none center">
    <p class="content-title topic-title">
      <a class="topic-title">{{ "Danh sách thể  loại / " | uppercase }}</a
      >{{ title | uppercase }}
    </p>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    style="width: 92%"
    class="align-self-center"
    fxLayoutGap="15px grid"
  >
    <div fxLayout="row" *ngFor="let song of songData">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../assets/images/song/{{
          song.imageName != null ? song.imageName : 'songBg'
        }}.jpg"
        alt=""
      />
      <div
        fxLayout="row"
        class="popular-item-content"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column" fxLayoutAlign="center start">
          <strong>{{ song.songName }}</strong>
          <small>{{ song.songAuthor?.name }}</small>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
          <button mat-mini-fab class="middle text-white favorite">
            <mat-icon>favorite</mat-icon>
          </button>
          <button (click)="playSong(song)" mat-mini-fab class="text-white">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- <div fxLayout="row" *ngFor="let song of listSong">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>{{ song.title }}</strong>
        <small>{{ song.thumbnail }}</small>
      </div>
    </div> -->
    <!-- <div fxLayout="row">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>aaa</strong>
        <small>This is some</small>
      </div>
    </div>
    <div fxLayout="row">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>aaa</strong>
        <small>This is some</small>
      </div>
    </div> -->
  </div>
</div>
