<div fxLayout="column" fxLayoutAlign="center none">
  <p class="content-title topic-title">{{ title | uppercase }}</p>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    style="width: 92%"
    class="align-self-center"
    fxLayoutGap="15px grid"
  >
    <div fxLayout="row">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>aaa</strong>
        <small>This is some</small>
      </div>
    </div>
    <div fxLayout="row">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>aaa</strong>
        <small>This is some</small>
      </div>
    </div>
    <div fxLayout="row">
      <img
        width="80px"
        height="80px"
        class="popular-item-img"
        src="../../../../../assets/images/artists/stephen-sanchez.jpg"
        alt=""
      />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="popular-item-content"
      >
        <strong>aaa</strong>
        <small>This is some</small>
      </div>
    </div>
  </div>
</div>
