.popular-item-content {
    width: 260px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #1d242c;
    padding: 12px;
}

.popular-item-img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}