<div fxLayout="column">
  <p class="search-title topic-title">QUICK SEARCH</p>

  <div fxLayout="row" fxLayoutAlign="center center">
    <label
      class="search-icon"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="search(title)"
    >
      <mat-icon>search</mat-icon>
    </label>
    <input
      type="text"
      class="search-header text-white"
      placeholder="Type here to search"
      [(ngModel)]="title"
      (keyup.enter)="search(title)"
    />
  </div>

  <div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutGap="15px">
      <p class="search-title topic-title">TOP ARTISTS</p>

      <div fxLayout="column" fxLayoutGap="20px">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="15px"
          *ngFor="let singer of singerData"
        >
          <img
            class="img-artists"
            src="../../../../../assets/images/artists/{{
              singer.singerName
            }}.jpg"
            width="55px"
            height="55px"
            alt=""
          />
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="60" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="0">
              <h6 class="artist-name" (click)="renderTo(singer.id, 'artist')">{{ singer.singerName }}</h6>
              <label>{{ singer.followers | number }} followers</label>
            </div>
            <button mat-raised-button class="follow-btn">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" style="width: 80%">
        <app-audio-player></app-audio-player>
      </div>
    </div>
  </div>
</div>
