<div fxLayout="column" style="height: 1000px" fxLayoutAlign="center none">
  <div
    fxFlex="30"
    class="align-self-center"
    class="w-100"
    style="position: relative"
  >
    <div class="w-100 artist-image-bg" style="height: 300px">
      <img
        src="https://photo-zmp3.zmdcdn.me/album_default.png"
        style="width: 100%; height: 100%; object-fit: cover; filter: blur(3px);"
        alt=""
      />
    </div>
    <div
      style="
        position: absolute;
        top: 65%;
        left: 48%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
      "
      fxLayout="row"
      fxLayoutGap="15px"
    >
      <img
        src="../assets/images/artists/{{
          singerData != null ? singerData.singerName : ''
        }}.jpg"
        style="
          border-radius: 50%;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        "
        width="120px"
        height="120px"
        alt=""
      />
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="center center">
          <h3
            class="artist-name title"
            style="
              width: fit-content;
              font-size: 60px;
              font-family: 'Times New Roman', Times, serif;
            "
          >
            <span>
              <span>{{ singerData != null ? singerData.singerName : "" }}</span>
            </span>
          </h3>
          <button mat-raised-button>
            <i class="fa-solid fa-play icon"></i>
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
          <span class="follow" style="color: #6c757d">331.820 người quan tâm</span
          ><button
            class="zm-btn is-outlined active is-medium follow-btn is-upper button"
            fxLayout="row"
            fxLayoutGap="5px"
          >
            <i class="fa-solid fa-heart-circle-plus"></i><span>Quan tâm</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="70">
    <!-- <div>
      <p class="content-title topic-title" style="font-size: 26px">Description</p>
    </div>
    <div></div> -->
    <div>
      <p class="content-title topic-title" style="font-size: 26px">Bài hát</p>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      style="width: 98%"
      fxLayoutGap="20px grid"
      *ngIf="singerData != null"
    >
      <div fxLayout="row" *ngFor="let song of singerData.songList">
        <div class="image-container" fxLayout="row">
          <img
            width="80px"
            height="80px"
            class="popular-item-img"
            src="../assets/images/song/{{
              song.imageName != null ? song.imageName : 'songBg'
            }}.jpg"
            alt=""
          />
          <button mat-mini-fab class="middle" (click)="playSong(song)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

        <div
          fxLayout="row"
          class="popular-item-content"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="center start">
            <strong>{{ song.songName }}</strong>
            <small>{{ song.composer?.composerName }}</small>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
            <button mat-mini-fab class="text-white favorite">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab class="text-white" [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="playlist">
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add to playlist</span>
              </button>
              <button mat-menu-item (click)="openCommentDialog()">
                <mat-icon>comment</mat-icon>
                <span>Comment</span>
              </button>
            </mat-menu>

            <mat-menu #playlist="matMenu">
              <button
                mat-menu-item
                *ngFor="let playlist of playlistData"
                (click)="addToPlaylist(playlist.id, song.id!)"
              >
                {{ playlist.playlistName }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
