<div fxLayout="column" style="height: 1000px" fxLayoutAlign="center none">
  <div
    fxFlex="30"
    class="align-self-center"
    class="w-100"
    style="position: relative"
  >
    <div class="w-100 artist-image-bg" style="height: 300px">
      <img
        src="https://photo-zmp3.zmdcdn.me/album_default.png"
        class="artist-avatar-img"
      />
    </div>
    <div
      style="
        position: absolute;
        top: 65%;
        left: 48%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
      "
      fxLayout="row"
      fxLayoutGap="15px"
    >
      <img
        src="../assets/images/artists/{{
          singerData != null ? singerData.singerName : ''
        }}.jpg"
        style="
          border-radius: 50%;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        "
        width="120px"
        height="120px"
        alt=""
      />
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="center center">
          <h3
            class="artist-name title"
            style="
              width: fit-content;
              font-size: 60px;
              font-family: 'Times New Roman', Times, serif;
            "
          >
            <span>
              <span>{{ singerData != null ? singerData.singerName : "" }}</span>
            </span>
          </h3>
          <button mat-raised-button (click)="playPlaylist(false)" class="play-btn">
            <i class="fa-solid fa-play icon"></i>
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="none center">
          <span class="follow" style="color: #6c757d"
            >331.820 người quan tâm</span
          ><button
            class="zm-btn is-outlined active follow-btn button"
            fxLayout="row"
            fxLayoutGap="5px"
            style="color: crimson; border: 1px solid; padding: 5px"
          >
            <i class="fa-solid fa-heart-circle-plus"></i><span>Quan tâm</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="70">
    <!-- <div>
      <p class="content-title topic-title" style="font-size: 26px">Description</p>
    </div>
    <div></div> -->
    <div>
      <p class="content-title topic-title" style="font-size: 26px">Bài hát</p>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="20px grid"
      *ngIf="singerData != null"
      class="w-100"
    >
      <div fxLayout="row" *ngFor="let song of singerData.songList">
        <div class="image-container" fxLayout="row">
          <img
            width="80px"
            height="80px"
            class="popular-item-img"
            src="../assets/images/song/{{
              song.imageName != null ? song.imageName : 'songBg'
            }}.jpg"
            alt=""
          />
          <button mat-mini-fab class="middle" (click)="playSong(song)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

        <div
          fxLayout="row"
          class="popular-item-content"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="center start">
            <strong>{{ song.songName }}</strong>
            <small>{{ song.composer?.composerName }}</small>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
            <ng-container *ngIf="key == true">
              <button
                mat-mini-fab
                class="text-white favorite"
                *ngIf="!checkFavorite(song); else removeFavorite"
                (click)="addToFavorite(song.id!)"
                title="Add to favorite"
              >
                <mat-icon>favorite</mat-icon>
              </button>
              <ng-template #removeFavorite>
                <button
                  mat-mini-fab
                  class="remove-favorite"
                  (click)="removeFromFavorite(song.id!)"
                  title="Remove from favorite"
                >
                  <mat-icon>favorite</mat-icon>
                </button>
              </ng-template>
            </ng-container>
            <button mat-mini-fab class="text-white" [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                [matMenuTriggerFor]="playlist"
                *ngIf="playlistData"
              >
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add to playlist</span>
              </button>
              <button mat-menu-item (click)="openCommentDialog()">
                <mat-icon>comment</mat-icon>
                <span>Comment</span>
              </button>
            </mat-menu>

            <mat-menu #playlist="matMenu">
              <button
                mat-menu-item
                *ngFor="let playlist of playlistData"
                (click)="addToPlaylist(playlist.id, song.id!)"
              >
                {{ playlist.playlistName }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="albumsData?.length > 0">
      <p class="content-title topic-title" style="font-size: 26px">Album</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="none center">
      <app-gaps [width]="20"></app-gaps>

      <div
        class="media playlist-header sticky"
        *ngFor="let album of albumsData"
      >
        <div class="media-left">
          <div class="zm-card header-thumbnail">
            <div class="zm-card-image">
              <div
                fxlayout="row"
                fxlayoutalign="center center"
                fxlayoutgap="10px"
                class="zm-box zm-actions playlist-actions"
                style="
                  flex-direction: row;
                  box-sizing: border-box;
                  display: flex;
                  place-content: center;
                  align-items: center;
                "
              >
                <button
                  class="zm-btn action-play button"
                  style="margin-right: 10px"
                  (click)="playAlbumPlaylist(album?.songList)"
                >
                  <i class="icon action-play fa-solid fa-play"></i>
                </button>
              </div>
              <div class="z-thumb">
                <figure class="image is-48x48">
                  <img
                    src="../assets/images/album/{{
                      album?.imageName != null ? album?.imageName : 'songBg'
                    }}.jpg"
                    alt=""
                  />
                </figure>
                <div class="opacity"></div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5 [routerLink]="['/album', album?.id]">{{ album?.name }}</h5>
          <p>{{ album?.singer.singerName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
