<div>
  <p class="content-title topic-title" style="font-size: 26px">Bài hát</p>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center none"
  style="width: 98%"
  fxLayoutGap="20px grid"
>
  <div fxLayout="row" *ngFor="let song of songData">
    <img
      width="80px"
      height="80px"
      class="popular-item-img"
      src="../assets/images/song/{{
        song.imageName != null ? song.imageName : 'songBg'
      }}.jpg"
      alt=""
    />
    <div
      fxLayout="row"
      class="popular-item-content"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="column" fxLayoutAlign="center start">
        <strong>{{ song.songName }}</strong>
        <small>{{ song.songAuthor?.name }}</small>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
        <button mat-mini-fab class="middle text-white favorite">
          <mat-icon>favorite</mat-icon>
        </button>
        <button (click)="playSong(song)" mat-mini-fab class="text-white">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div>
  <p class="content-title topic-title" style="font-size: 26px">Nghệ sĩ</p>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="width: 98%"
  fxLayoutGap="20px grid"
></div>
<div>
  <p class="content-title topic-title" style="font-size: 26px">Playlist</p>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="width: 98%"
  fxLayoutGap="20px grid"
>
  <div class="column is-fullhd-20" *ngFor="let playlist of playlistData">
    <a href="">
      <div class="zm-card-image">
        <div
          class="zm-box zm-actions playlist-actions"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <button class="zm-btn zm-tooltip-btn button">
            <i class="icon fa-solid fa-house"></i></button
          ><button class="zm-btn action-play button">
            <i class="icon action-play fa-solid fa-play"></i></button
          ><button class="zm-btn zm-tooltip-btn button">
            <i class="icon fa-solid fa-house"></i>
          </button>
        </div>
        <figure>
          <img src="https://photo-zmp3.zmdcdn.me/album_default.png" />
        </figure>
        <div class="opacity"></div>
      </div>
    </a>

    <div fxLayout="column" fxLayoutGap="5px" class="zm-card-content">
      <h4 class="title is-6">
        <a href="">{{ playlist.playlistName }}</a>
      </h4>
      <h3 class="subtitle">{{ playlist.userName }}</h3>
    </div>
  </div>
</div>
