.form{
    height: 450px;
}

.font-label{
    font-size: 14px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.background-sign-in{
    position: relative;
}

.login-header{
    width: 100%; 
}

.title{
    font-size: 45px;
    font-weight: 500;
    color: #6295d6;
}