.mat-mini-fab.mat-accent {
  background-color: rgb(195, 196, 202) !important;
}

.login-notify {
  border: none;
  border-radius: 5px;
  background-color: rgb(65, 64, 64);
  cursor: pointer;
}

.notify-text {
  padding: 10px;
  margin: 0 !important;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
