<div>
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>Bình luận</h3>
      <button mat-mini-fab mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <hr />
    <div>
      <p>{{ commentData ? commentData.length : 0 }} bình luận</p>
    </div>
    <div
      class="empty-content"
      fxLayout="column"
      *ngIf="commentData?.length == 0"
    >
      <i class="icon fa-solid fa-comment"></i>Chưa có bình luận nào
    </div>
    <div fxLayout="column" fxLayoutGap="25px" *ngIf="commentData?.length > 0">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        *ngFor="let comment of commentData"
      >
        <div>
          <img
            src="../../../../../assets/images/{{ comment.userAvatar }}.jpg"
            alt=""
            class="user-avatar"
          />
        </div>
        <div fxLayout="column" fxLayoutAlign="center" class="w-100">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="20px">
              <div>{{ comment.username }}</div>
              <div style="color: rgb(195, 196, 202)">
                {{ comment.createdAt }}
              </div>
            </div>
            <div
              (click)="deleteComment(comment.id)"
              *ngIf="key == true && checkUserComment(comment.userId)"
            >
              <i class="icon fa-solid fa-trash"></i>
            </div>
          </div>
          <div class="comment-text">{{ comment.commentText }}</div>
        </div>
      </div>
    </div>
    <hr />

    <div
      fxLayout="row"
      fxLayoutAlign="scenter center"
      fxLayoutGap="15px"
      *ngIf="key == true"
    >
      <mat-form-field fxFlex="80" (keyup.enter)="createComment()">
        <input matInput type="text" placeholder="..." [(ngModel)]="value" />
        <button
          mat-button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div fxFlex="20">
        <button mat-raised-button (click)="createComment()">Bình luận</button>
      </div>
    </div>

    <div
      *ngIf="key == false"
      fxLayout="row"
      fxLayoutAlign="center"
      class="login-notify"
      (click)="openLoginDialog()"
    >
      <p class="notify-text">
        <i class="fa-solid fa-circle-exclamation"></i> Vui lòng đăng nhập để bình
        luận
      </p>
    </div>
  </div>
</div>
