.playlist-header.sticky {
  position: sticky;
  top: 110px;
}

.playlist-header {
  display: block;
  width: 250px;
  float: left;
  padding: 0 0 30px;
}

.header-thumbnail {
  position: relative;
  display: flex;
  justify-content: center;
}



.playlist-header .media-content .actions .btn-play-all {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

.image-playlist {
  margin: 5px 0;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover img {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.popular-item-content {
  width: 100% !important;
}

.zm-box > .zm-btn > .fa-play {
  font-size: 30px;
}

.playlist-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: none;
  width: 100%;
}

.created-by span {
  color: #fff;
}
