<div fxLayout="column" fxLayoutAlign="center none">
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    style="width: 94%"
    class="align-self-center"
  >
    <div fxLayout="column" fxFlex="30">
      <div class="media playlist-header sticky">
        <div class="media-left">
          <div class="zm-card header-thumbnail">
            <div class="zm-card-image">
              <div class="z-thumb">
                <figure class="image is-48x48">
                  <img
                    src="https://photo-zmp3.zmdcdn.me/album_default.png"
                    alt=""
                  />
                </figure>
                <div class="opacity"></div>
              </div>
              <div class="zm-actions-container">
                <div class="zm-box zm-actions playlist-actions">
                  <button class="zm-btn action-play button" tabindex="0">
                    <i class="fa-solid fa-play"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media-content">
          <div class="content-top">
            <div class="user-playlist-title">
              <h3 class="title">
                abcd<button class="zm-btn mar-l-5 button" tabindex="0">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </h3>
            </div>
            <div class="created-by">Tạo bởi <span>Việt Trương</span></div>
            <h3 class="subtitle">Công khai</h3>
          </div>
          <div class="level actions">
            <button
              class="zm-btn btn-play-all is-outlined active is-medium is-upper button"
              tabindex="0"
            >
              <i class="fa-solid fa-play"></i><span>Phát ngẫu nhiên</span>
            </button>
            <div class="level-item is-narrow">
              <button
                class="zm-btn zm-tooltip-btn is-hover-circle button"
                tabindex="0"
              >
                <i class="fa-solid fa-ellipsis"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="70">sdfs</div>
  </div>
</div>
