<div fxLayout="column" fxLayoutAlign="center none" style="margin-top: 22px">
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    style="width: 94%"
    class="align-self-center"
  >
    <div fxLayout="column" fxFlex="30">
      <div class="media playlist-header sticky">
        <div class="media-left">
          <div class="zm-card header-thumbnail">
            <div class="zm-card-image">
              <div class="z-thumb">
                <figure class="image is-48x48">
                  <img
                    src="../assets/images/album/album_default.jpg"
                    alt=""
                  />
                </figure>
                <div class="opacity"></div>
              </div>
              <div class="zm-actions-container">
                <div
                  class="zm-box zm-actions playlist-actions"
                  fxLayout="row"
                  fxLayoutAlign="center"
                >
                  <button
                    (click)="playPlaylist(false)"
                    class="zm-btn action-play button"
                  >
                    <i class="fa-solid fa-play icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="media-content"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div
            class="content-top"
            fxLayoutAlign="none center"
            fxLayout="column"
            fxLayoutGap="5px"
          >
            <div
              class="user-playlist-title"
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <h3 class="playlist-name" fxLayout="row">
                {{ playlistData != null ? playlistData.playlistName : "" }}
              </h3>
              <button
                class="zm-btn button"
                style="margin-left: 6px; font-size: 15px"
                (click)="openPlaylistDialog()"
              >
                <i class="fa-solid fa-pen-to-square icon"></i>
              </button>
            </div>
            <div class="created-by">
              Tạo bởi
              <span>{{
                playlistData != null ? playlistData.userName : ""
              }}</span>
            </div>
            <h4 class="subtitle">Công khai</h4>
          </div>
          <div
            class="level actions"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
          >
            <button
              class="zm-btn btn-play-all is-outlined active is-medium is-upper button"
              fxLayout="row"
              fxLayoutGap="5px"
              (click)="playPlaylist(true)"
            >
              <i class="fa-solid fa-play icon"></i><span>Phát ngẫu nhiên</span>
            </button>
            <div class="level-item is-narrow">
              <button class="zm-btn zm-tooltip-btn button">
                <i class="fa-solid fa-ellipsis icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="70" fxLayoutGap="50px">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>
            <button class="zm-btn button" [matMenuTriggerFor]="menu">
              <i class="fa-solid fa-arrow-up-z-a"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="sortBy('name', 'ASC')"
                *ngIf="sort == 'DSC'"
              >
                <span>Sort by name (A-z)</span>
              </button>
              <button
                mat-menu-item
                (click)="sortBy('name', 'DSC')"
                *ngIf="sort == 'ASC'"
              >
                <span>Sort by name (z-A)</span>
              </button>
              <button mat-menu-item (click)="sortBy('duration', 'DSC')">
                <span>Sort by duration</span>
              </button>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span class="number is-top-{{ i + 1 }} is-center mar-r-5">
              {{
                dataSource.filteredData.indexOf(element) +
                  1 +
                  pageIndex * pageSize
              }}</span
            >
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Bài hát</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
              <div class="image-container image-playlist" fxLayout="row">
                <img
                  src="../assets/images/song/{{
                    element.imageName != null ? element.imageName : 'songBg'
                  }}.jpg"
                  width="50px"
                  height="50px"
                  alt=""
                />
                <button mat-mini-fab class="middle" (click)="playSong(element)">
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
              <div fxLayout="column" fxLayoutGap="5px">
                <span> {{ element.songName }}</span>
                <small> {{ element.singer.singerName }}</small>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Album Column -->
        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef>Album</th>
          <td mat-cell *matCellDef="let element">{{ element.songName | truncateText: 22}}</td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Thời gian</th>
          <td mat-cell *matCellDef="let element">
            {{ element.duration | timeFormat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab class="text-white" [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="deleteSongFromPlaylist(element.id)"
              >
                <mat-icon>remove</mat-icon>
                <span>Remove from playlist</span>
              </button>
              <button mat-menu-item (click)="openCommentDialog(element.id)">
                <mat-icon>comment</mat-icon>
                <span>Comment</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div fxLayout="column">
        <p class="content-title topic-title">Bài Hát Gợi Ý</p>
        <div fxLayout="column">
          <!-- <mat-list fxLayout="column" fxLayoutGap="25px">
            <mat-list-item *ngFor="let song of listSong">
              <div fxLayout="row" class="w-100">
                <div class="image-container" fxLayout="row">
                  <img
                    width="60px"
                    height="60px"
                    class="popular-item-img"
                    src="../assets/images/song/{{
                      song.imageName != null ? song.imageName : 'songBg'
                    }}.jpg"
                    alt=""
                  />
                  <button mat-mini-fab class="middle" (click)="playSong(song)">
                    <mat-icon>play_arrow</mat-icon>
                  </button>
                </div>

                <div
                  fxLayout="row"
                  class="popular-item-content"
                  fxLayoutAlign="space-between center"
                >
                  <div fxLayout="column" fxLayoutAlign="center start">
                    <strong>{{ song.songName }}</strong>
                    <small>{{ song.songAuthor?.name }}</small>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between"
                    fxLayoutGap="5px"
                  ></div>
                </div>
              </div>
            </mat-list-item>
          </mat-list> -->
          <table
            mat-table
            [dataSource]="dataSource2"
            class="mat-elevation-z8 w-100"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Bài hát</th>
              <td mat-cell *matCellDef="let element">
                <div
                  fxLayout="row"
                  fxLayoutGap="20px"
                  fxLayoutAlign="start center"
                >
                  <div class="image-container image-playlist" fxLayout="row">
                    <img
                      src="../assets/images/song/{{
                        element.imageName != null ? element.imageName : 'songBg'
                      }}.jpg"
                      width="50px"
                      height="50px"
                      alt=""
                    />
                    <button
                      mat-mini-fab
                      class="middle"
                      (click)="playPlaylist(false)"
                    >
                      <mat-icon>play_arrow</mat-icon>
                    </button>
                  </div>
                  <div fxLayout="column" fxLayoutGap="5px">
                    <span> {{ element.songName }}</span>
                    <span> {{ element.singer.singerName }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Album Column -->
            <ng-container matColumnDef="album">
              <th mat-header-cell *matHeaderCellDef>Album</th>
              <td mat-cell *matCellDef="let element">{{ element.songName }}</td>
            </ng-container>

            <!-- Duration Column -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef>Thời gian</th>
              <td mat-cell *matCellDef="let element">
                {{ element.duration | timeFormat }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="12px">
                    <ng-container *ngIf="key == true">
                      <button
                        mat-mini-fab
                        class="text-white favorite"
                        *ngIf="!checkFavorite(element); else removeFavorite"
                        (click)="addToFavorite(element.id)"
                        title="Add to favorite"
                      >
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <ng-template #removeFavorite>
                        <button
                          mat-mini-fab
                          class="remove-favorite"
                          (click)="removeFromFavorite(element.id)"
                          title="Remove from favorite"
                        >
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </ng-template>
                    </ng-container>
                    <button
                      mat-mini-fab
                      class="text-white"
                      title="Add to playlist"
                      (click)="addToPlaylist(element.id)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
