<div fxLayout="column" fxLayoutAlign="center none">
  <p class="content-title topic-title" style="font-size: 26px">Playlist</p>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    style="width: 94%"
    class="align-self-center"
  >
    <div class="column is-fullhd-20">
      <div class="empty-playlist">
        <div class="content" (click)="openPlaylistDialog()">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          <span>Tạo playlist mới</span>
        </div>
      </div>
    </div>

    <div class="column is-fullhd-20" *ngFor="let playlist of playlistData">
      <a>
        <div class="zm-card-image">
          <div
            class="zm-box zm-actions playlist-actions"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
          >
            <button class="zm-btn zm-tooltip-btn button" (click)="deletePlaylist(playlist.id)">
              <i class="icon fa-solid fa-x"></i></button
            ><button class="zm-btn action-play button">
              <i class="icon action-play fa-solid fa-play"></i></button
            ><button class="zm-btn zm-tooltip-btn button">
              <i class="icon fa-solid fa-ellipsis"></i>
            </button>
          </div>
          <figure>
            <img src="https://photo-zmp3.zmdcdn.me/album_default.png" />
          </figure>
          <div class="opacity"></div>
        </div>
      </a>

      <div fxLayout="column" fxLayoutGap="5px" class="zm-card-content">
        <h4 class="title is-6">
          <a (click)="renderTo(playlist.id)">{{ playlist.playlistName }}</a>
        </h4>
        <h3 class="subtitle">{{ playlist.userName }}</h3>
      </div>
    </div>
  </div>
</div>
