.zm-card-content .subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.zm-card-content .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5px;
}

.zm-card-content .title a {
  font-weight: 500;
  text-align: left;
  margin: 8px 0 4px;
}

figure{
  margin: 0 !important;
}

.button:hover{
  opacity: 0.8;
}
