<div>
  <p class="content-title topic-title">Bảng xếp hạng</p>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" style="width: 98%">
      <div fxFlex="60" style="margin: 30px">
        <canvas id="lineChart"></canvas>
      </div>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span class="number is-top-{{ i + 1 }} is-center mar-r-5">
              {{
                dataSource.filteredData.indexOf(element) +
                  1 +
                  pageIndex * pageSize
              }}</span
            >
          </td>
        </ng-container>

      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Bài hát</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
              <div class="image-container" fxLayout="row">
                <img
                  src="../assets/images/song/{{
                    element.imageName != null ? element.imageName : 'songBg'
                  }}.jpg"
                  width="50px"
                  height="50px"
                  alt=""
                />
                <button mat-mini-fab class="middle" (click)="playSong(element)">
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
              <div fxLayout="column" fxLayoutGap="5px">
                <span> {{ element.songName }}</span>
                <span> {{ element.singer.singerName }}</span>
              </div>
            </div>
          </td>
        </ng-container>

       
        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef>Album</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Thời gian</th>
          <td mat-cell *matCellDef="let element">
            {{ timeFormat(element.duration) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
