

.popular-item-content {
  width: 260px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #1d242c;
  padding: 12px;
}

.popular-item-img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sidenav-container {
  width: 100%;
  height: 200%;
}

.sidenav {
  width: 250px;
  background-color: #1d242c
}

.recently-play-item {
  padding: 0rem 2rem;
}

.mat-drawer-content {
  overflow: hidden;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  font-family: cursive;
}
