<div fxLayout="column">
  <img class="img-audio" src="../assets/images/song/sunroof.jpg" alt="" />
  <div class="container-audio w-100" >
    <p (click)="openUrl(file.url)">
      {{ file.name }}
    </p>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <span>{{ currentTime }}</span>
        <input
          type="range"
          min="0"
          max="{{ rangeDuration }}"
          [value]="seek"
          (input)="setSeekTo($event)"
          style="width: 40%;"
        />
        <span>{{ duration }}</span>
      </div>
      <div fxLayout="row" style="position: relative;">
        <mat-icon>volume_up</mat-icon>
        <input
          class="volume"
          type="range"
          min="0"
          max="1"
          step="0.01"
          value="0.5"
          (input)="setVolume($event)"
        />
      </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button (click)="play()">Play</button>
      <button (click)="pause()">Pause</button>
      <button (click)="stop()">Stop</button>
    </div>
  </div>
</div>
