
<div  fxLayout="column" fxLayoutAlign="center center">
  <div class="p-3" style="width: 90%;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Trữ Tình & Bolero</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <a>
          <mat-list-item>Quản lý người dùng</mat-list-item>
        </a>
        <a>
          <mat-list-item> Quản lý role </mat-list-item>
        </a>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Quốc Gia </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a (click)="goToSongByGenre('Nhạc Việt')">
            <mat-list-item>Nhạc Việt</mat-list-item>
          </a>
          <a (click)="goToSongByGenre('Nhạc Âu Mỹ')">
            <mat-list-item> Nhạc Âu Mỹ </mat-list-item>
          </a>
          <a (click)="goToSongByGenre('Nhạc Hoa')">
            <mat-list-item> Nhạc Hoa </mat-list-item>
          </a>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> EDM </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a>
            <mat-list-item>Quản lý người dùng</mat-list-item>
          </a>
          <a>
            <mat-list-item> Quản lý role </mat-list-item>
          </a>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> EDM </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a>
            <mat-list-item>Quản lý người dùng</mat-list-item>
          </a>
          <a>
            <mat-list-item> Quản lý role </mat-list-item>
          </a>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> EDM </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a>
            <mat-list-item>Quản lý người dùng</mat-list-item>
          </a>
          <a>
            <mat-list-item> Quản lý role </mat-list-item>
          </a>
        </mat-list>
      </mat-expansion-panel>
  </div>
</div>
